body{
    background-color: rgb(62, 62, 62);
}

.divtadivi{
    position: absolute;
    left: 100px;
}

/* mimateba */
.containergamokleba{
    position: absolute;
    left: 850px;
    top: 250px;
    width: 0px;
    height: 200px;
}

.containermimateba{
    position: absolute;
    left: 550px;
    top: 250px;
    width: 0px;
    height: 200px;
}

.input1{
    background-color: transparent;
    border: 2px solid goldenrod;
    border-radius: 5px;
    color: goldenrod;
}

.input2{
    display: flex ;
    flex-wrap: nowrap;
    background-color: transparent;
    border: 2px solid goldenrod;
    border-radius: 5px;
    color: goldenrod;
}


.mimateba{
    position: relative;
    background-color: transparent;
    border: 2px solid goldenrod;
    border-radius: 5px;
    color: goldenrod;
    width: 87.5px;
    height: 30px;
    top: 20px;
    left: 44px;
    transition: 0.2s;
}

.mimateba:hover{
    cursor: pointer;
    transform: scale(1.1);

}

.pliusi{
    position: relative;
    left: 80px;
    color: goldenrod;
    font-size: 23px;
}

.udrisi{
    position: relative;
    left: 80px;
    color: goldenrod;
    font-size: 23px;
}

.jami1{
    width: 175px;
    height: 18px;
    background-color: transparent;
    border: 2px solid goldenrod;
    border-radius: 5px;
    color: goldenrod;
}


/* gamokleba*/
.input1-1{
    background-color: transparent;
    border: 2px solid goldenrod;
    border-radius: 5px;
    color: goldenrod;
}

.input2-1{
    background-color: transparent;
    border: 2px solid goldenrod;
    border-radius: 5px;
    color: goldenrod;
}
.sxvaoba{
    width: 175px;
    height: 18px;
    background-color: transparent;
    border: 2px solid goldenrod;
    border-radius: 5px;
    color: goldenrod;
}

.gamokleba{
    position: relative;
    background-color: transparent;
    border: 2px solid goldenrod;
    border-radius: 5px;
    color: goldenrod;
    width: 87.5px;
    height: 30px;
    top: 20px;
    left: 44px;
    transition: 0.2s;
}

.gamokleba:hover{
    cursor: pointer;
    transform: scale(1.1);

}




@media screen and (max-width: 986px){
    .divtadivi {
        position: absolute;
        left: -250px;
    }
}

@media screen and (max-width: 786px){
    .divtadivi {
        position: absolute;
        left: -400px;
    }
}

@media screen and (max-width: 638px){
    .divtadivi {
        position: absolute;
        left: -470px;
    }
}

@media screen and (max-width: 564px){
    .divtadivi {
        position: absolute;
        left: -505px;
    }
}

@media screen and (max-width: 530px){
    .divtadivi {
        position: absolute;
        left: -525px;
    }
}